
  <form action='/result' method='post'>
     Your Name: <input type='text' name='name'>
     <br>
     Dojo location:
    <select name="Dojolocation">
    <option value="chicago">Chicago</option>
    <option value="san jose">San Jose</option>
    <option value="texas">Texas</option>
   </select>
   <br>
   Favorite Language:
    <select name="FavoriteLanguage">
    <option value="python">Python</option>
    <option value="ruby">Ruby</option>
    <option value="ios">Ios</option>
  </select>
    <h3> Comment (optional):
    <br>
    <textarea name="description"></textarea>
    <input type="submit" value="Submit">
  </select>
